/* Style for tree container */
.tree {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #509469ab;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Style for tree title */
.tree h2 {
    color: #52785a;
    font-size: 24px;
}

/* Style for tree image */
.tree img {
    max-width: 10%;
    height: auto;
    margin-bottom: 10px; /* Optional: Add spacing between image and description */
}

/* Style for tree description */
.tree p {
    color: #030000;
    font-size: 16px;
}
.tree2 {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #509469ab;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tree2 h2 {
    color: #52785a;
    font-size: 24px;
}

/* Style for tree image */
.tree2 img {
    max-width: 10%;
    height: auto;
    margin-bottom: 10px; /* Optional: Add spacing between image and description */
}

/* Style for tree description */
.tree2 p {
    color: #030000;
    font-size: 16px;
}